<div>
    <p><b>Last updated: </b>@Data.Date UTC</p>
    <p><b>Open </b>@Data.Open</p>
    <p><b>Close: </b>@Data.Close</p>
    <p><b>Low: </b>@Data.Low</p>
    <p><b>High: </b>@Data.High</p>
</div>

@code {
    [Parameter]
    public StockValueDto Data { get; set; }
}
